<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Iniciar sesion</title>
</head>
<body>
    <form th:action="@{/iniciarsesion}" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
        </div>
        <div>
            <button type="submit">Iniciar sesion</button>
        </div>
    </form>
</body>
</html>
